<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    这个标签是对应实体类的路径-->
    <typeAliases>
        <package name="com.example.infrastructure.po.Activity"/>
    </typeAliases>
</configuration>

